{% extends 'account/login/base_account_login.html.twig' %}
  {# {% set params = parameters %} #}
{% block body %}

    <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6 card-block-text">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Connection utilisateur</h1>
                                        </div>

                                        <form method="post">
                                            {% if error %}
                                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}

                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Votre email ..." value="{{ params }}" name="email" id="inputEmail">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Mot de passe" name="password" id="inputPassword">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">Se souvenir de moi</label>
                                                </div>
                                            </div>

                                            <input type="hidden" name="_csrf_token"
                                                value="{{ csrf_token('authenticate') }}"
                                            >

                                            <button class="btn btn-primary btn-user btn-block" type="submit">
                                                Me connecter
                                            </button>
                                        </form>
                                  <br>
                                  <a href="{{path('public_user_new')}}"> Créer un compte utilisateur</a>
                                <br>
                          <a href="{{path('admin_login')}}">Administration</a>
                                        <hr>
                                        {# <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}