{{form_row(form.nom,{'label':'Nom'})}}
{{form_row(form.prenom,{'label':'Prenom'})}}
{{form_row(form.email,{'label':'Email'})}}
{{form_row(form.password,{'label':'Password'})}}

    <button class="btn">{{ button_label|default('Save') }}</button>

