{# {% extends 'base.html.twig' %} #}
{% extends 'account/baseAccount.html.twig' %}

{% block title %}Modifications profil{% endblock %}

 
{% block body %}
    <h1>Modification du profil</h1>

   <a href="{{ path('app_account')}}">Retour accueil</a>
   <br>
      <br>
    {{ include('account/actions/_form.html.twig', {'button_label': 'Update'}) }}


 {# <a href="{{ path('app_commentaires_show', {'id': app.user.id}) }}">Retour accueil</a> #}
   
<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
