{% extends 'account/baseAccount.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue {{app.user.prenom}}</h1>

<table class="table">
        <thead>
            <tr>
                <th>CATEGORIES</th>
                <td></td>
            </tr>
           
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.nom }}</td> 
                <td>
                    <a href="{{ path('user_categorie_show', {'id': categorie.id}) }}">Voir les articles correspondants</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
            <th>ARTICLES</th>
                <th>Titre</th>
                <th>Contenu</th>
               
             
                <th>Date</th>
                <th>Catégorie</th>
                   <th>Auteur</th>
<td></td>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
              <td>{% if article.logo !='' %}
                <img src={{ article.logo }} height="50" width="50">
                {% endif %}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
              
             
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.categorie }}</td>
                   <td>{{ article.user }}</td>
                <td>
                    <a href="{{ path('visitor_article_show', {'id': article.id}) }}">LIRE</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <input type="hidden" name="_csrf_token"
                                                value="{{ csrf_token('authenticate') }}"
                                            >
{% endblock %}
