{% extends 'account/baseAccount.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
<br>
<br>
<a href="{{ path('app_account') }}">Revenir à l'accueil</a>
<h1>{{ article.titre }}</h1>

<table class="table">

    <tbody>
        <tr>
            <td>{{ article.contenu }}</td>
        </tr>
        <tr>
            <td><img src={{ article.logo }}></td>
        </tr>
        <tr> 
            <td>{{ article.date ? article.date|date('d-m-Y H:i:s') : '' }}</td>
        </tr>
    </tbody>

</table>

<table class="table">

    <thead>
        <tr>
            <th>Commentaires</th>
            <th>Auteur</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.auteur ? commentaire.auteur : "Anonyme"}}</td>
                <td>{{commentaire.date ? commentaire.date|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de commentaires</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
