{% extends 'admin/base_admin.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_index') }}">back to list</a>

    <a href="{{ path('app_categories_edit', {'id': category.id}) }}">edit</a>
    <br>

    {# <a href="{{ path('app_article_new', {'id_categorie': category.id})}}">Créer article</a> #}

    {{ include('admin/categories/_delete_form.html.twig') }}
{% endblock %}
