{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin - commentaires{% endblock %}

{% block body %}
    <h1><span style ="color:red">{{ nbrComsNotValid }}</span> commentaires à administrer</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Article commenté</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.auteur }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commentaire.article.titre }}</td>
                <td>
                    {# <a href="{{ path('app_commentaires_show', {'id': commentaire.id}) }}">show</a> #}
                    <a href="{{ path('valid_com_admin', {'id': commentaire.id}) }}" style="color:#49c33e">VALIDER</a>
                    {# <a href="{{ path('delete_com_admin', {'id': commentaire.id}) }}" style="color:red">SUPPRIMER</a> #}

<form method="post" action="{{ path('delete_com_admin', {'id': commentaire.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce commentaire ?');">
        <button class="btn" style="color:red">SUPPRIMER</button>
</form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun commentaire en attente</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
